.footer {
	background: rgb(221, 213, 213);
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
     
}
.box{
     display: flex;
     justify-content: center;
     flex-direction: column;
     color: black;
}
.box h3{
     color: orangered;
}
.box a{
     text-decoration: none;
     font-size: 1.5em;
     color: black;
}


.box a:hover {
	color: orangered;
	/* text-decoration: underline; */
}


